.l {
  position: absolute;
  left: 1em;
  top: 1em;
}

.r {
  position: absolute;
  right: 1em;
  top: 1em;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.b {
  position: absolute;
  bottom: 1em;
}